<template>
  <fragment>
    <contenteditable :tag="tag"
                     :contenteditable="isEditable"
                     v-model="text" :no-nl="true" :no-html="true" @returned="enterPressed" />
  </fragment>
</template>

<script>

export default {
  props: {
    tag: {
      type: String,
      default: function () {
        return 'span'
      }
    },
    defaultText: {
      type: String,
      default: function (val) {
        return ''
      }
    },
    className: {
      type: String,
      default: function () {
        return ''
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['global', 'text']
      }
    }
  },
  data: function () {
    return {
      text: '',
      isEditable: true,
    }
  },
  watch: {
    text(val) {
      window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value: Number(val)})
    }
  },
  methods: {
    enterPressed() {

    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted text-editor`, `background: #19823c; color: #ffffff`);
      this.text = this.defaultText === 'undefined' ? 'write text here' : (this.defaultText || 'text');
    })
  },
}
</script>

<style lang="scss">
.medium-editor-element *{
  font-size: inherit  !important;
  display: inline;
}
</style>
