<template>
    <div>
        <div class="laze-box" :style="{width: (width || containerWidth) + 'px', height: (height || containerHeight) + 'px'}" v-if="!isLoaded" ref="box">
          <span :show="!isLoaded">LOADING...</span>
        </div>
        <img :src="src" :alt="alt" :width="width" :height="height" :class="[classname]" v-if="isLoaded" ref="img-tag"/>
    </div>
</template>

<script>


Vue.directive('img-background-lazy', {
    inserted: function (target, binding) {
        let isLoaded = false;
        let prevRatio = 0.0;
        let observer;
        let options = {
            root: null,
            rootMargin: "0px",
            threshold: 0
        };

        function handleIntersect(entries, observer) {
            entries.forEach((entry) => {

                if (isLoaded) {
                    observer.disconnect();
                }

                if (entry.intersectionRatio > prevRatio) {
                    isLoaded = true;
                    target.style.backgroundImage = `url(${binding.value})`;
                }

                prevRatio = entry.intersectionRatio;
            });
        }

        observer = new IntersectionObserver(handleIntersect, options);

        window.addEventListener("load", (event) => {

            observer.observe(target);

        }, false);

    },
});

export default {
    props: {
        src: String,
        alt: String,
        injectStyle: {
            type: String,
        },
        width: {
            type: String,
        },
        height: {
            type: String,
        },
        classname: {
            type: String,
            required: false
        },
        root: {
            type: String,
            required: false
        },
        target: {
            type: String,
            required: false
        },
    },
    data: function () {
        return {
            isLoaded: false,
            containerWidth: null,
            containerHeight: null,
        }
    },
    computed: {
        getRoot() {
            if(this.root){
                return document.querySelector(this.root);
            }
            return null;
        },
        getTarget() {
            if(this.target){
                this.$refs.box = document.querySelector(this.target);
            }
            return this.$refs.box;
        },
    },
    watch:{
        isLoaded(v) {
            if(v && this.injectStyle){
                this.$nextTick(() => {
                    this.$refs['img-tag'].setAttribute("style", this.injectStyle.substring(1, this.injectStyle.length - 1));
                })
            }
        }
    },
    mounted() {
        setTimeout(() => {
            this.containerWidth = this.$refs.box.parentElement.parentElement.offsetWidth;
            this.containerHeight = this.$refs.box.parentElement.parentElement.offsetHeight;
        }, 100)

        const target = this.getTarget;
        let prevRatio = 0.0;
        let observer;
        let options = {
            root: this.getRoot,
            rootMargin: "0px",
            threshold: 0
        };

        const self = this;

        function handleIntersect(entries, observer) {
            entries.forEach((entry) => {

                if (self.isLoaded) {
                    observer.disconnect();
                }

                if (entry.intersectionRatio > prevRatio) {
                    self.isLoaded = true;

                }

                prevRatio = entry.intersectionRatio;
            });
        }

        observer = new IntersectionObserver(handleIntersect, options);

        window.addEventListener("load", (event) => {

            observer.observe(target);

        }, false);



    }
}
</script>

<style>
.laze-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}
</style>
