<template>
  <editor
      :text='text'
      :options='options'
      v-on:edit='applyTextEdit'
      @editorCreated="handleEditorCreated"
      :custom-tag='tag'
      :class="className"
  ></editor>
</template>

<script>

export default {
  props: {
    tag: {
      type: String,
      default: function () {
        return 'span'
      }
    },
    defaultText: {
      type: String,
      default: function (val) {
        return 'write text here'
      }
    },
    valueText: {
      type: String,
      default: function (val) {
        return ''
      }
    },
    className: {
      type: String,
      default: function () {
        return ''
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['global', 'text']
      }
    }
  },
  data: function () {
    return {
      defaultWords: {
        en: {
          'write text here': 'write text here',
          'Attended': 'Attended',
          'Leave a Comment': 'Leave a Comment',
          'Comments': 'Comments',
          'Speakers': 'Speakers',
          'Sponsors': 'Sponsors',
          'Gallery': 'Gallery',
          'Video': 'Video',
          'Text': 'write text here',
          'Banner Title': 'Banner Title',
          'Sub Title': 'Banner Sub Title',
          'Sponsors Description': 'Sponsors Description'
        },
        ar: {
          'write text here': 'اكتب النص هنا',
          'Attended': 'تسجيل الحضور',
          'Leave a Comment': 'اترك تعليقا',
          'Comments': 'التعليقات',
          'Speakers': 'المتحدثون',
          'Sponsors': 'الرعاة',
          'Gallery': 'معرض الصور',
          'Video': 'فيديو',
          'Text': 'اكتب النص هنا',
          'Banner Title': 'عنوان',
          'Sub Title': 'عنوان فرعي',
          'Sponsors Description': 'وصف الرعاة...'
        }
      },
      text: '',
      show: true,
      options:  {
        toolbar: {
          allowMultiParagraphSelection: true,
          buttons: ['bold', 'italic', 'underline', 'strikethrough', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'removeFormat'], // 'indent', 'outdent', 'superscript', 'subscript'
          diffLeft: 0,
          diffTop: -10,
          firstButtonClass: 'medium-editor-button-first',
          lastButtonClass: 'medium-editor-button-last',
          relativeContainer: null,
          standardizeSelectionStart: false,
          static: false,
          align: 'left',
          sticky: false,
          updateOnEmptySelection: false
        }
      },
      optionsValid: true,
      lang: 'en'
    }
  },
  methods: {
    applyOptions (ev) {
      try {
        this.options = JSON.parse(ev.target.value)
        this.optionsValid = true
      } catch (e) {
        this.optionsValid = false
      }
    },
    applyTextEdit (ev) {
      if (ev.event.target) {
        let val = ev.event.target.innerHTML;
        this.text = ev.event.target.innerHTML
        window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value: val})
      }
    },
    handleEditorCreated(editor) {
      /**
       * write what you want here after the editor has been initalised but don't update the options here
       * without an if condition as it'll cause an infinite loop because the watcher will recreate
       * medium editor instane
       */
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted text-editor`, `background: #19823c; color: #ffffff`);
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang');
      this.lang = lang;
      this.text = (this.valueText === 'undefined' || this.valueText === '' || !this.valueText) ? this.defaultWords[lang][this.defaultText] : this.valueText;
    })
  },
}
</script>

<style lang="scss">
.medium-editor-element *{
  font-size: inherit  !important;
  display: inline;
}
</style>
