<template>
  <Fragment>
    <iframe class="event-preview-iframe" id="event-preview-iframe"
            :srcdoc='theem.file(false, {
              data: { ...eventData, countries: formData.countries},
              requiredSection: theem.requiredSection,
              color: eventData.color,
              content,
              language,
              words,
              invitation ,
              link,
              logo,
              footerText,
              footerHeading,
              csrf
            })'> </iframe>
  </Fragment>
</template>

<script>
import theems from '../THEEMS';
import { Fragment } from 'vue-fragment';
window.bc_sectionsChange = new BroadcastChannel('sections:change');
window.bc_contentChange = new BroadcastChannel('content:change');
export default {
  components: { Fragment },
  props: {
    csrf: {
      type: String,
      default: function () {
        return ''
      }
    },
    eventData: {
      type: Object,
      default: function () {
        return {}
      }
    },
    userId: {
      type: String,
      default: function () {
        return ''
      }
    },
    userEmail: {
      type: String,
      default: function () {
        return ''
      }
    },
    formData: {
      type: Object,
      default: function () {
        return null
      }
    },
    invitation: {
      type: Object,
      default: function () {
        return null
      }
    },
    logo: {
      type: String,
      default: function () {
        return true
      }
    },
    link: {
      type: String,
      default: function () {
        return true
      }
    },
    footerText: {
      type: String,
      default: function () {
        return true
      }
    },
    footerHeading: {
      type: String,
      default: function () {
        return true
      }
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      show: false,
      loading: false,
      invitationCode: null,
      theem: theems[0],
      sections: [],
      content: {
        basic: {},
        description: {},
        counter: {},
        countdown: {},
        speakers: {},
        video: {},
        gallery: {},
        sponsors: {},
        comments: {},
        banner: {},
        footer: {},
      },
      title: 'THE LARGEST CONFERENCE IN EUROPE',
    }
  },
  watch: {
    sections(val) {
      this.onChangeSection(val)
    },
  },
  computed: {
    language() {
      const {direction, code} = this.formData.languages.find(({id}) => id === this.eventData.language_id)
      return {direction, code}
    }
  },
  methods: {
    onChangeTheem(val) {
      this.theem = val;
    },
    onChangeSection(val) {
      window.bc_sectionsChange.postMessage({sections: val})
    },
    save() {
      this.$root.basicInformationForm = this.$refs['basic-information-form'].form;
      this.loading = true;
      this.$root.save(() => {
        this.loading = false;
      })
    }
  },
  mounted() {

    this.$nextTick(() => {
      console.log(`%c Mounted preview-event`, `background: #19823c; color: #ffffff`);
    })

    this.$nextTick(() => {
      this.$root.eventData = this.eventData;
      this.$root.invitation = this.invitation;

      if(this.eventData.theme){
        this.theem = theems.find((t) => t.id === this.eventData.theme);
      }

      if(this.eventData.extra_sections){
        const extraSections = this.eventData.extra_sections ? JSON.parse(this.eventData.extra_sections) : {}
        this.content = extraSections?.content || {};

        $('#event-preview-iframe').on('load', () => {
          setTimeout(() => {
            this.sections = extraSections?.sections || {};
          }, 1000)
        });


      }
    })

    this.$nextTick(() => {
      if(this?.userId && this?.userEmail){
        axios.post('/api/login-with-id', {id: this.userId, email: this.userEmail})
            .then((r) => {
              sessionStorage.setItem('user', JSON.stringify(r.data.Response))
              sessionStorage.setItem('token', r.data.Error.token)
            })
      }
    })
  },
}
</script>

<style lang="scss" scoped>
  .event-preview-iframe{
    width: 100vw;
    height: 100vh;
    border-width: 0;
  }
</style>
