[dir=rtl] {
  body,
  p {
    font-family: 'Cairo', sans-serif !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6, .sub-title {
    font-family: 'Cairo', sans-serif  !important;
  }

  h1, h2 {
    font-family: 'Cairo', sans-serif  !important;
  }
}
