<template>
  <div class="video-input">
    <b-form-group
        id="video-input-group"
        :label="words['Enter Embed Video']"
        label-for="embed-video"
    >
      <b-form-input
          id="embed-video"
          v-model="embedVideo"
          type="text"
          required
      ></b-form-input>

      <button @click.prevent="save">{{words['Save']}}</button>
    </b-form-group>
  </div>
</template>

<script>

export default {
  props: {
    value: {
      type: String,
      default: function () {
        return null
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['video', 'iframe']
      }
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      embedVideo: null,
      defaultWords: {
        en: {
          'Save': 'Save',
          'Enter Embed Video': 'Enter Embed Video'
        },
        ar: {
          'Save': 'حفظ',
          'Enter Embed Video': 'أدخل الفيديو المضمن'
        }
      },
    }
  },
  methods: {
    save () {
      console.log($('.post-video img'))

      $(".post-video img").replaceWith(this.embedVideo);

      const parser = new DOMParser();
      const htmlDoc = parser.parseFromString(this.embedVideo, 'text/html');
      const src = htmlDoc.getElementsByTagName('iframe')[0].getAttribute('src')
      window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value: src})


    },
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted video`, `background: #19823c; color: #ffffff`);
      if(this.value && this.value !== 'undefined'){
        this.embedVideo =
        `<iframe width="920" height="520" src="${this.value}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
      }
    })

    this.$nextTick(() => {
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang');
      this.lang = lang;
      this.words = this.defaultWords[lang];
    })
  },
}
</script>

<style lang="scss">
.video-input{
  width: 100%;
  padding: 15px 15px 5px 15px;
  background-color: #57ad68;
  color: #fff;
  text-align: left;
}
#video-input-group > div{
  display: flex;
  button {
    margin-left: 10px;
    background-color: #338e45;
    border: 2px #066219 solid;
    border-radius: 4px;
    color: #fff;
    padding: 5px 18px;
  }
}

.post-video{
  iframe, img{
    width: 100% !important;
    height: 450px !important;
  }
}
</style>
