<template>
  <div class="select-theem-input select-section-input">
    <span v-for="section in theem.sections" @click="change(section.id)" :key="section.id" v-if="section.hide !== true"
          :id="`active-icon-required_${section.id}`"
          :class="selectedSection.some((i) => i === section.id) || theem.requiredSection.some((i) => i === section.id) ? 'active' : ''">
      <p>{{words[section.name]}}</p>

      <i v-if="theem.requiredSection.some((i) => i === section.id)" class="active-icon active-icon-required">
        <b-icon icon="shield-fill-check"></b-icon>
      </i>

      <b-tooltip v-if="theem.requiredSection.some((i) => i === section.id)" :target="`active-icon-required_${section.id}`" triggers="hover">
        {{words['This Section is']}} <b>{{words['Required']}}</b>
      </b-tooltip>

      <i v-if="selectedSection.some((i) => i === section.id)" class="active-icon">
        <b-icon icon="check-circle-fill" ></b-icon>
      </i>

    </span>
  </div>
</template>

<script>
import theems from '../THEEMS';

export default {
  props: {
    eventData: {
      type: Object,
      default: function () {
        return null
      }
    },
    theem: {
      value: Object,
      default: function () {
        return theems[0]
      }
    },
    onChange: {
      type: Function,
      default: function () {
        return () => {}
      }
    }
  },
  methods: {
    change: function (val) {

      if(this.theem.requiredSection.some((i) => i === val)){
        return;
      }

      const _selectedSection = this.selectedSection;

      if(_selectedSection.some((i) => i === val)){
        const index = _selectedSection.indexOf(val);
        _selectedSection.splice(index, 1);
        this.selectedSection = _selectedSection;
        this.onChange(_selectedSection)
        return;
      }

      _selectedSection.push(val);
      this.onChange(_selectedSection)
      this.selectedSection = _selectedSection
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      selectedSection: []
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted theem-select`, `background: #19823c; color: #ffffff`);
      const extraSections = this.eventData.extra_sections ? JSON.parse(this.eventData.extra_sections) : {}
      if(this.eventData.extra_sections){
        setTimeout(() => {
          this.selectedSection = extraSections?.sections || {};
        }, 1000)
      }
    })
  },
}
</script>

<style lang="scss" scoped>
.select-theem-input{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  &.select-section-input{
    span {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #ddd;
      &.active{
        p{
          color: #fff;
        }
      }
      p{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ab64ff;
        text-transform: capitalize;
        font-size: 22px;
        margin: 0;
      }
      i {
        display: none;
      }
    }
  }

  span{
    width: 100%;
    padding: 0 4px;
    position: relative;
    &:first-child{
      padding-top: 4px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child{
      padding-bottom: 4px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.active {
      background-color: #ab64ff;
      img {
        opacity: 0.7;
      }
    }
    img {
      width: 100%;
    }
    .active-icon{
      position: absolute;
      left: 13px;
      font-size: 24px;
      color: #7a15f2;
    }
  }
}
</style>
