<template>
  <a-modal
      :title="showForm === 'LOGIN' ? `${words['Login']}` : `${words['Register']}`"
      :visible="visible"
      @cancel="handleCancel"
      dialogClass="auth-modal"
      :okButtonProps="{class: 'btn btn-gradient-primary me-2'}"
      :cancelButtonProps="{class: 'btn btn-light'}"
      :footer="false"
  >

    <b-form v-if="showForm === 'LOGIN'">
      <b-form-group
          id="email"
          :label="`${words['Email']}:`"
          label-for="email"
      >
        <b-form-input
            id="email"
            v-model="loginForm.email"
            type="text"
            :placeholder="`${words['Enter Email']}`"
            required
            :state="errors.loginForm.email"
        ></b-form-input>

        <b-form-invalid-feedback id="input-email">
          {{words['Check the email']}}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
          id="password"
          :label="`${words['Password']}:`"
          label-for="password"
      >
        <b-form-input
            id="password"
            v-model="loginForm.password"
            type="password"
            :placeholder="`${words['Enter Password']}`"
            required
            :state="errors.loginForm.password"
        ></b-form-input>
      </b-form-group>
    </b-form>

    <b-alert :show="loginError" variant="danger">{{loginErrorText}}</b-alert>

    <b-form v-if="showForm === 'REGISTER'">

      <b-form-group
          id="name"
          :label="`${words['User Name']}:`"
          label-for="name"
      >
        <b-form-input
            id="name"
            v-model="registerForm.name"
            type="text"
            :placeholder="`${words['Enter Name']}`"
            required
            :state="errors.registerForm.name"
        ></b-form-input>
      </b-form-group>

      <b-form-group
          id="email"
          :label="`${words['Email']}:`"
          label-for="email"
      >
        <b-form-input
            id="email"
            v-model="registerForm.email"
            type="text"
            :placeholder="`${words['Enter Email']}`"
            required
            :state="errors.registerForm.email"
        ></b-form-input>

        <b-form-invalid-feedback id="input-email">
          {{words['Check the email']}}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
          id="countries"
          :label="`${words['Select Country']}:`"
          label-for="countries"
      >
      <b-form-select
          :options="countriesOptions"
          v-model="registerForm.country_id"
          :placeholder="`${words['Select Country']}`"
          required
          :state="errors.registerForm.country_id"
      ></b-form-select>

      <b-form-invalid-feedback id="input-country">
        {{words['Please enter the country']}}
      </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
          id="password"
          :label="`${words['Password']}:`"
          label-for="password"
      >
        <b-form-input
            id="password"
            v-model="registerForm.password"
            type="password"
            :placeholder="`${words['Enter Password']}`"
            required
            :state="errors.registerForm.password"
        ></b-form-input>
      </b-form-group>

      <b-form-group
          id="password_confirmation"
          :label="`${words['Password Confirmation']}:`"
          label-for="password_confirmation"
      >
        <b-form-input
            id="password_confirmation"
            v-model="registerForm.password_confirmation"
            type="password"
            :placeholder="`${words['Enter Password Confirmation']}`"
            required
            :state="errors.registerForm.password_confirmation"
        ></b-form-input>
      </b-form-group>

    </b-form>

    <b-alert :show="registerError" variant="danger">{{registerErrorText}}</b-alert>

    <div class="d-flex justify-content-center align-items-center flex-column mt-4">
      <button v-if="showForm === 'LOGIN'" key="back" @click="handleLoginOk" class="btn btn-gradient-primary me-2 w-100 mb-2">{{words['Login']}}</button>
      <a href="javascript:void(0)" v-if="showForm === 'LOGIN'" @click="showForm = 'REGISTER'">{{words['Create New Account']}}</a>
    </div>


    <div  class="d-flex justify-content-center align-items-center flex-column mt-4">
      <button v-if="showForm === 'REGISTER'" key="back" @click="handleRegisterOk" class="btn btn-gradient-primary me-2 w-100 mb-2">{{words['Register']}}</button>
      <a href="javascript:void(0)" v-if="showForm === 'REGISTER'"  @click="showForm = 'LOGIN'">{{words['You already have an account']}}</a>
    </div>


    <div class="mb-4 d-flex justify-content-center align-items-center w-100 or-line"><span></span> <span>{{words['Or']}}</span> <span></span></div>

    <div class="d-flex justify-content-center align-items-center w-100">
      <a :href="`${url}/facebook_login`" target="_blank" class="loginBtn loginBtn--facebook">
      {{words['login_facebook']}}
    </a> <a :href="`${url}/google_login`" target="_blank" class="loginBtn loginBtn--google">
      {{words['login_google']}}
    </a></div>

  </a-modal>
</template>

<script>

export default {
  props: {
    visible: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    callback: {
      type: Function,
      default: function () {
        return () => {}
      }
    },
    handleCancelCb: {
      type: Function,
      default: function () {
        return () => {}
      }
    },
    countries: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  data: function () {
    return {
      countriesOptions: [],
      token: '',
      local: '',
      url: '',
      words: window?.words || {},
      loginForm: {
        email: null,
        password: null,
      },
      registerForm: {
        country_id: null,
        email: null,
        password: null,
        name:null,
        password_confirmation:null
      },
      errors: {
        loginForm: {
          email: null,
          password: null,
        },
        registerForm: {
          country_id: null,
          email: null,
          password: null,
          name:null,
          password_confirmation:null
        }
      },
      loginFormIsLoading: false,
      loginErrorText: null,
      loginError: null,

      registerFormIsLoading: false,
      registerErrorText: null,
      registerError: null,

      showForm: 'LOGIN',
    }
  },
  methods: {
    validateEmail(email){
      if(!email){
        return false
      }
      return email.toLowerCase().match(
          /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      );
    },

    handleRegisterOk() {
      if(!this.registerForm.email){
        this.errors.registerForm.email = false;
      }

      if(!this.registerForm.password){
        this.errors.registerForm.password = false;
      }

      if(!this.registerForm.name){
        this.errors.registerForm.name = false;
      }


      if(!this.registerForm.password_confirmation){
        this.errors.registerForm.password_confirmation = false;
      }

      if(!this.validateEmail(this.registerForm.email)){
        this.errors.registerForm.email = false;
        return;
      }

      if(!this.registerForm.email || !this.registerForm.password || !this.registerForm.name || !this.registerForm.password_confirmation){
        return
      }

      this.errors.registerForm.email = true;
      this.errors.registerForm.password = true;
      this.errors.registerForm.name = true;
      this.errors.registerForm.password_confirmation = true;

      this.registerFormIsLoading = true;


      let url = `${this.local}/web-register`;

      if(window?.parent?.location.search.search('test=true') === 1){
        url = '/api/register';
      }

      axios.post(url, {...this.registerForm, _token: this.token})
          .then((r) => {
            this.registerFormIsLoading = false;
            if(!r.data.Error.status){
              this.registerError = true;
              if(Object.values(r.data.Error.validation)?.length > 0){
                this.registerErrorText = Object.values(r.data.Error.validation)[0][0];
              }else {
                this.registerErrorText = r.data.Error.desc;
              }

              this.errors.registerForm.email = false;
              this.errors.registerForm.password = false;
              this.errors.registerForm.name = false;
              this.errors.registerForm.password_confirmation = false;
              return
            }

            this.registerError = false;
            this.registerErrorText = null;
            this.errors.registerForm.email = true;
            this.errors.registerForm.password = true;
            this.errors.registerForm.name = true;
            this.errors.registerForm.password_confirmation = true;

            sessionStorage.setItem('user', JSON.stringify(r.data.Response))
            sessionStorage.setItem('token', r.data.Response.token)

            this.callback(r.data.Response)

          }).catch((e) => {
        this.registerFormIsLoading = false;
        this.registerError = true;
        this.registerErrorText = e.response.data.message;
      })

    },
    handleLoginOk() {
      if(!this.loginForm.email){
        this.errors.loginForm.email = false;
      }

      if(!this.loginForm.password){
        this.errors.loginForm.password = false;
      }


      if(!this.validateEmail(this.loginForm.email)){
        this.errors.loginForm.email = false;
        return;
      }

      if(!this.loginForm.password || !this.loginForm.email){
        return
      }

      this.errors.loginForm.email = true;
      this.errors.loginForm.password = true;

      this.loginFormIsLoading = true;

      let url = `${this.local}/web-login`;

      if(window?.parent?.location.search.search('test=true') === 1){
        url = '/api/login';
      }

      axios.post(url, {...this.loginForm, _token: this.token})
      .then((r) => {

        this.loginFormIsLoading = false;
        if(!r.data.Error.status){
          this.loginError = true;

          if(Object.values(r.data.Error.validation)?.length > 0){
            this.loginErrorText = Object.values(r.data.Error.validation)[0][0];
          }else {
            this.loginErrorText = r.data.Error.desc;
          }

          this.errors.loginForm.password = false;
          this.errors.loginForm.email = false;
          return
        }

        sessionStorage.setItem('user', JSON.stringify(r.data.Response))
        sessionStorage.setItem('token', r.data.Error.token)

        this.loginError = false;
        this.loginErrorText = null;
        this.errors.loginForm.password = true;
        this.errors.loginForm.email = true;
        this.callback(r.data.Response)

      }).catch((e) => {
        this.loginFormIsLoading = false;
        this.loginError = true;
        this.loginErrorText = e.response.data.message;
      })

    },
    handleCancel() {
      this.handleCancelCb()
    },
  },
  watch: {
    countries(val) {

      console.log(Object.keys(val).map((key) => {
        return { value: key, text: val[key] }
      }))

      this.countriesOptions = Object.keys(val).map((key) => {
        return { value: key, text: val[key] }
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted login >>> 5-10`, `background: #19823c; color: #ffffff`, window?.parent?.location?.origin);
      this.url = window?.parent?.location?.origin;
      try {
        this.local = `/${window?.parent?.location.pathname.split('/')[1]}`;
        this.token = document.getElementsByTagName('html')[0].getAttribute('data-token');
      }catch (e) {
      }
    })
  },
}
</script>

<style lang="scss">

.loginBtn {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  margin: 0.2em;
  border: none;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  padding: 7px 15px 7px 46px;
  text-align: center;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
  color: #fff;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  color: #fff;
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('/assets/icons/icon_facebook.png') 6px 6px no-repeat;
  background-position: center;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
  color: #fff;
}


/* Google */
.loginBtn--google {
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('/assets/icons/icon_google.png') 6px 6px no-repeat;
  background-position: center;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
  color: #fff;
}


.or-line{
  span:first-child{
    flex:1;height: 1px;background-color: #dddd;
  }
  span:nth-child(2){
    width: 50px;text-align: center;font-size: 23px;color: #3b1d82;
  }
  span:last-child{
    flex:1;height: 1px;background-color: #dddd;
  }
}

.custom-select{
  background-size: 10px;
  width: 100%;
}

</style>
