/*  Custom CSS RTL */
/* --------------- */
/*  Align icons position */
.main-menu .navigation li > a > i, .main-menu .dropdown-menu i, .main-menu .dropdown-user > a > i, .main-menu .navigation > li > a > i {
  float : right;
}
.dt-buttons{
    float:left;
}

.dropdown-user.nav-item i {
  float : right;
}

.horizontal-menu .main-menu-content #main-menu-navigation > li > a > i {
  float : right;
}

.menu-expanded .form-group i {
  float : inherit;
}

.form-control-position i {
  top : 25%;
  position : absolute;
  right : 25%;
}

/* Dopzone horizontal scrollbar issue */
.dz-hidden-input {
  position : relative !important;
}

/* RTL version sticky sidebar float */
.content-wrapper .sticky-wrapper, .content-right-sidebar .sticky-wrapper {
  float : left;
}

.ui-widget-icon-block {
  right : 50%;
}

.ui-dialog .ui-dialog-titlebar-close {
  right : 3rem;
}

.square.slider-xl .noUi-handle:before {
  left : 5px;
}

.square.slider-xl .noUi-handle:after {
  left : 10px;
}

.square .noUi-handle:before {
  left : 0;
}

.square .noUi-handle:after {
  left : 5px;
}

.square.slider-xs .noUi-handle:before {
  left : -2px;
}

.square.slider-xs .noUi-handle:after {
  left : 1px;
}

.noUi-vertical.square .noUi-handle:before {
  left : -1px;
}

.noUi-vertical.square .noUi-handle:after {
  left : -1px;
}

.btn i[class^='icon-'], .btn i[class*=' icon-'] {
  line-height : 1.25rem;
}

code[class*='language-'], pre[class*='language-'] {
  direction : ltr;
}

@media print {
  code[class*='language-'], pre[class*='language-'] {
    text-shadow : none;
  }
}

/* Email Application */
.email-application .app-content .list-group .list-group-item i {
  float : right !important;
}

/* Perfact scrollbar RTL fix */
body .ps__rail-y {
  right : -6px !important;
}

/*  calendar app */
.calendar-application .content-wrapper .sidebar .sidebar-calendars .tui-full-calendar-checkbox-round + span {
  margin-left : 8px;
}

/* Input Group with Dropdown Component */
.input-group .input-group-prepend .dropdown-menu {
  right : auto;
}

/* Right dropdown menu */
.dropdown-menu.dropdown-menu-right::before {
  right : 1rem;
}

/* Quill Editor - arrow icons */
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  right : auto;
}
.checkbox input:checked ~ label:after{
    border-left-style : solid;
    border-right-style :none;
    transform: rotate(-45deg);
}
