<template>
  <span class="image-panel">

    <a-modal
        dialogClass="image-panel-modal"
        :width="700"
        v-model:visible="visibleModal"
        :title="words['Change Photo']"
        @ok="handleOk"
        :okButtonProps="{class: 'btn btn-gradient-primary me-2'}"
        :cancelButtonProps="{class: 'btn btn-light'}"
    >
      <div>
        <ul class="img-list">
          <li @click="selectedImg = index" v-for="(i, index) in imgList" :class="selectedImg === index ? 'active' : ''">
            <img :src="i" :key="index" :alt="index" />
          </li>
          <li>
            <a-upload
                name="file"
                :multiple="false"
                action="/api/upload-file"
                @change="handleChange"
                :showUploadList="false"
                accept="image/png, image/jpeg"

            >
              <a-button>
                <a-icon type="upload" />
                {{words['Upload Photo']}}
              </a-button>
            </a-upload>
          </li>
        </ul>
      </div>

      <template slot="footer">
        <button class="btn btn-light" @click="visibleModal = false">{{words['Cancel']}}</button>
        <button key="back" @click="handleOk" class="btn btn-gradient-primary me-2">{{words['Ok']}}</button>
      </template>
    </a-modal>

    <a-button @click="visibleModal = true">
      <a-icon type="upload" />
      {{words['Change Photo']}}
    </a-button>
  </span>
</template>

<script>

export default {
  props: {
    url: {
      type: String,
      default: function () {
        return ''
      }
    },
    isBg: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    elementId: {
      type: String,
      default: function () {
        return ''
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['global', 'image-bg']
      }
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      fileList: [],
      visibleModal: false,
      imgList: [],
      selectedImg: null,
      defaultWords: {
        en: {
          'Change Photo': 'Change Photo',
          'Cancel': 'Cancel',
          'Ok': 'Ok',
          'Upload Photo': 'Upload Photo',
        },
        ar: {
          'Change Photo': 'تغيير الصورة',
          'Cancel': 'تراجع',
          'Ok': 'موافق',
          'Upload Photo': 'رفع صورة',
        }
      },
    }
  },
  methods: {
    getImages() {
      const categoryId = document.getElementsByTagName('html')[0].getAttribute('data-category-id');
      axios.get('/api/categories')
          .then((res) => {
            if(res?.data?.Error?.status){
              if(res?.data?.Response.filter((i) => i.id === parseInt(categoryId)).length > 0){
                this.imgList = res?.data?.Response?.filter((i) => i.id === parseInt(categoryId))[0]?.images?.map((i) => i.file);
              }
              try {
                const defaultImage = res?.data?.Response.find((i) => i.id === parseInt(categoryId)).default_image;
                if(defaultImage && (!this.url || this.url === '')){
                  const el = document.getElementById(this.elementId)
                  el.style.backgroundImage = `url("${defaultImage}")`
                  this.applyEdit(defaultImage)
                }
              }catch (e) { console.log(e) }
            }
      }).catch(() => {})
    },
    applyEdit (value) {
      window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value})
    },
    handleChange(info) {
      this.selectedImg = null;
      const el = document.getElementById(this.elementId)
      if (info.file.status !== 'uploading') {
        el.style.backgroundImage = `url("http://127.0.0.1:8000/${URL.createObjectURL(info.file.originFileObj)}")`
      }
      if (info.file.status === 'done') {
          el.style.backgroundImage = `url("${info.file.response.Response.file}")`;
          this.applyEdit(info.file.response.Response.file)
      } else if (info.file.status === 'error') {

      }
    },
    handleOk(){
      this.visibleModal = false;
      if(this.selectedImg !== null){
        const el = document.getElementById(this.elementId)
        el.style.backgroundImage = `url("${this.imgList[this.selectedImg]}")`
        this.applyEdit(this.imgList[this.selectedImg])
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted image-panal`, `background: #19823c; color: #ffffff`);
      this.$nextTick(() => {
        const style = document.createElement('style');
        style.innerHTML = `
          #${this.elementId} {
            position: relative;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          #${this.elementId}:hover .image-panel{
            display: block;
          }
        `;
        document.head.appendChild(style);

        this.getImages()
      })
    })

    this.$nextTick(() => {
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang');
      this.lang = lang;
      this.words = this.defaultWords[lang];
    })
    this.$nextTick(() => {
      $('.user-avatar').hide()
    })

  },
}
</script>

<style lang="scss">
[dir] .image-panel {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  z-index: 99999;
  button {
    background-color: #57ad68;
    border-color: #57ad68;
    color: #fff;
    border-radius: 0;
    padding: 14px 10px;
    height: auto;
    &:hover {
      background-color: #346b3f;
      border-color: #346b3f;
      color: #fff;
    }
  }
}

.image-panel-modal{
  .ant-modal-content{
    .ant-modal-body{
      width: 100%;
      height: 100%;
      float: left;
    }
  }
}

.img-list{
  list-style: none;
  li{
    width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
    cursor: pointer;
    &.active {
      outline: 5px solid #a25cff;
    }
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    button{
      width: 150px;
      height: 150px;
    }
  }
}
.ant-modal-footer{
  .btn.btn-gradient-primary{
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
  }
  .btn.btn-light{
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
  }
}


</style>
