<template>
  <div class="select-theem-input">
      <span v-for="_theem in theems"
            @click="change(_theem)" :key="_theem.id" :class="_theem.id === theem.id ? 'active' : ''"
            :style="`background-image: url(${_theem.img})`"
      >
        <i v-if="_theem.id === theem.id" class="active-icon">
          <b-icon icon="check-circle-fill" ></b-icon>
        </i>
      </span>
  </div>
</template>
<script>
import theems from '../THEEMS';

export default {
  props: {
    eventData: {
      type: Object,
      default: function () {
        return null
      }
    },
    onChange: {
      type: Function,
      default: function () {
        return () => {}
      }
    }
  },
  methods: {
    change: function (val) {
      this.theem = val;
      this.onChange(val)
    }
  },
  data: function () {
    return {
      theem: theems[0],
      theems,
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted theem-select`, `background: #19823c; color: #ffffff`);
    })

    if(this.eventData.theme){
      this.theem = theems.find((t) => t.id === this.eventData.theme);
    }else {
      this.change(theems[0])
    }
  },
}
</script>

<style lang="scss" scoped>
.select-theem-input{
  display: flex;
  flex-wrap: wrap;
  span{
    width: calc(50% - 8px);
    height: 120px;
    border-radius: 5px;
    margin: 4px;
    position: relative;
    overflow: hidden;
    background-size: 100%;
    background-position: 0 0;
    border: 3px solid #dfdfdf;
    transition: background-position 5s;
    &:hover{
      background-position: 0 100%;
    }
    &:not(.active){
      cursor: pointer;
    }
    &.active {
      background-color: #ab64ff;
      border: 7px solid #ab64ff;
      img {
        opacity: 0.7;
      }
    }
    img {
      width: 100%;
      border-radius: 5px;
    }
    .active-icon{
      position: absolute;
      left: 13px;
      font-size: 24px;
      color: #7a15f2;
    }
  }
}
</style>
