<template>
  <span class="clear-span">
    {{address}}
  </span>
</template>

<script>


export default {
  props: {
    address: {
      type: String,
      default: function () {
        return ''
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['global', 'text']
      }
    }
  },
  data: function () {
    return { }
  },
  methods: {
    applyEdit (value) {
      window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value})
    },
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted date-time`, `background: #19823c; color: #ffffff`);
      this.$nextTick(() => {
        this.applyEdit(this.address)
      })
    })
  },
}
</script>

<style lang="scss" scoped>

</style>
