<template>
  <div>
    <div :class="className" class="d-lg-flex justify-content-center">

      <slot v-for="(item, key) in items" :index="key" :content="item" :deleteItem="deleteItem"> </slot>

    </div>
    <div class="images-uploader" v-if="editable && renderUploadDragger">
      <a-upload-dragger
          name="file"
          :multiple="true"
          @drop="drop"
          @change="handleChange"
          action="/api/upload-file"
          :showUploadList="false"
      >
        <p class="ant-upload-drag-icon">
          <a-icon type="inbox" />
        </p>
        <p class="ant-upload-text">
          {{words['Click or drag file to this area to upload']}}
        </p>
        <p class="ant-upload-hint">
          {{words['Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files']}}
        </p>
      </a-upload-dragger>
    </div>
  </div>

</template>

<script>

export default {
  props: {
    parentId: {
      type: String,
      default: function () {
        return ''
      }
    },
    editable: {
      type: Boolean,
      default: function () {
        return true
      }
    },
    defaultList: {
      type: String,
      default: function () {
        return ''
      }
    },
    className: {
      type: String,
      default: function () {
        return ''
      }
    },
    min: {
      type: Number,
      default: function () {
        return 1
      }
    },
    max: {
      type: Number,
      default: function () {
        return 6
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['global', 'images']
      }
    }
  },
  watch:{
    items(val) {
      this.applyEdit(val);
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      fileList: [],
      items: [],
      renderUploadDragger: true,
      defaultWords: {
        en: {
          'Click or drag file to this area to upload': 'Click or drag file to this area to upload',
          'Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files': 'Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files',
        },
        ar: {
          'Click or drag file to this area to upload': 'انقر أو اسحب الملف إلى هذه المنطقة للتحميل',
          'Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files': 'دعم التحميل الفردي أو المجمع. يمنع منعا باتا تحميل بيانات الشركة أو ملفات الفرقة الأخرى',
        }
      },
    }
  },
  methods: {
    deleteItem(index) {
      const _items = [...this.items];
      _items.splice(index, 1);
      this.items = _items
      this.renderUploadDragger = false;
      this.$nextTick(() => {
        this.renderUploadDragger = true
      })
    },
    applyEdit (value) {
      window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value})
    },
    drop() {
      console.log("drop")
    },
    handleChange(info) {
      this.items = info.fileList.map((i) => {
        if(i.status === 'done'){
          return i.response.Response.file
        }
        return i.originFileObj
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted images-uploader`, `background: #19823c; color: #ffffff`);
      this.items = Array.from(Array(this.min).keys()).reduce((p, c) => ({[c]: null, ...p}), {})
    })

    this.$nextTick(() => {
      const style = document.createElement('style');
      style.innerHTML = `
          #${this.parentId}:hover .images-uploader{
            display: block;
          }
          #${this.parentId}:hover .images-uploader-delete-btn {
           display: block;
          }
        `;
      document.head.appendChild(style);
    })

    this.$nextTick(() => {
      if(this.defaultList?.length > 0){
        this.items = this.defaultList.split(',')
      }else {
        this.items = []
      }
    })

    this.$nextTick(() => {
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang');
      this.lang = lang;
      this.words = this.defaultWords[lang];
    })

  },
}
</script>

<style lang="scss">
.images-uploader{
  display: none;
  margin-top: 20px;
  .ant-upload.ant-upload-drag{
    background-color: #57ad68;
    border-color: #57ad68;
    padding: 0 30px;
  }
  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon, .ant-upload.ant-upload-drag p.ant-upload-text{
    color: #ffffff;
  }
  .ant-upload.ant-upload-drag p.ant-upload-hint{
    color: #dfdfdf;
  }
}

.images-uploader-delete-btn {
  position: absolute;
  display: none;
  margin: 5px;
  border: 0;
  background-color: #858585;
  color: #fff;
  border-radius: 2px;
  z-index: 9;
  padding: 5px;
  &:hover {
    background-color: #858585;
    color: #fff;
  }
}
</style>
