<template>
  <div>
    <VueDatepickerUi v-model="date" lang="en" range multiCalendars></VueDatepickerUi>
    <input :id="startDate.name"
           required="required"
           :placeholder="startDate.placeholder"
           :name="startDate.name"
           type="hidden"
           :value="date[0]"
           class="form-control">

    <input :id="endDate.name"
           required="required"
           :placeholder="endDate.placeholder"
           :name="endDate.name"
           type="hidden"
           :value="date[1]"
           class="form-control">
  </div>


</template>

<script>
import VueDatepickerUi from 'vue-datepicker-ui'
import 'vue-datepicker-ui/lib/vuedatepickerui.css';

export default {
  components: { VueDatepickerUi },
  props: {
    startDate: {
      type: Object,
    },
    endDate: {
      type: Object,
    }
  },
  data: function () {
    return {
      date: [new Date(), new Date(new Date().setDate(new Date().getDate() + 7))],
    }
  },
  mounted() {
    this.$nextTick(() => {
      if(this.startDate){
        this.date[0] = this.startDate.value
      }
      if(this.endDate){
        this.date[1] = this.endDate.value
      }
    })
  }

}
</script>

<style lang="scss">
.v-calendar.long{
  width: 100% !important;
  .input-field.long{
    width: 100% !important;
    input{
      width: 100%;
    }
    svg{
      fill: #a45eff
    }
  }
}
</style>
