<template>
  <div class="w-100 px-3">
    <div class="comments-area mb-0" id="comments" >
      <ul class="comments-list">
        <li>
          <ul class="comments-reply">
            <li v-for="comment in comments" :key="comment.id">
              <div class="comment">
                <img class="comment-avatar float-left" alt="" :src="comment.image">
                <div class="comment-body reply-bg">
                  <div class="meta-data">
                    <span class="comment-author">{{comment.name}}</span><span class="comment-date">{{comment.created_at}}</span>
                  </div>
                  <div class="comment-content">
                    <p>{{comment.comment}}</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto p-0">
          <h3 class="title-normal">{{words['Leave a Comment']}}</h3>
          <form>
            <div class="error-container"></div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea v-model="comment" class="form-control form-control-message" name="message" id="message" :placeholder="`${words['Your message']}...*`" rows="6" required=""></textarea>
                </div>
              </div>
            </div>
            <div class="text-left"><br>
              <button @click.prevent="addComment" class="btn" type="submit"> {{words['Post Comment']}} </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <auth-form :visible="visibleAuth" :callback="callbackAuth" :handleCancelCb="handleCancelCb"/>
  </div>
</template>

<script>


export default {
  props: {
    id: {
      type: [String, Number],
      required: true
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      comments: [],
      comment: null,
      visibleAuth: false,
      lang: 'en',
      defaultWords: {
        en: {
          'Leave a Comment': 'Leave a Comment',
          'Your message': 'Your message',
          'Post Comment': 'Post Comment',
        },
        ar: {
          'Leave a Comment': 'اترك تعليق',
          'Your message': 'تعليقك',
          'Post Comment': 'ارسال',
        }
      },
    }
  },
  methods: {
    handleCancelCb() {
      this.visibleAuth = false;
    },
    callbackAuth() {
      this.visibleAuth = false;
      this.addComment()
    },
    getComments() {
      axios.get(`/api/event/comments?event_id=${this.id}`)
          .then((r) => {
            this.comments = r.data.Response
          })
          .catch((e) => {

          })
    },
    addComment() {
      const token = sessionStorage.getItem('token');

      if(!this.comment){
        return false
      }

      if(!token){
        this.visibleAuth = true
        return false
      }

      const data = {
        event_id: this.id,
        comment: this.comment
      }
      const config = {
        headers: {
          Authorization: `Bearer ${token}`
        }
      }
      axios.post(`/api/event/comment`, data, config)
          .then((r) => {
            this.getComments()
            this.comment = null
          })
          .catch((e) => {

          })
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted comments`, `background: #19823c; color: #ffffff`);
      this.getComments()
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang');
      this.lang = lang;
      this.words = this.defaultWords[lang];
    })
  },
}
</script>

<style lang="scss" scoped>

</style>
