<template>
  <div>
    <b-form-input
        v-model="value.address"
        @click="visible = true"
        :readonly="true"
        type="text"
        :id="id"
        :placeholder="placeholder"
        :required="required"
        class="address-input"
        id="address-input"
        :name="inputName"
    >
    </b-form-input>

    <b-form-input
        v-if="value.lat > 0 && value.lat !== ''"
        v-model="value.lat"
        type="text"
        :id="`${id}-lat`"
        class="address-lat-input d-none"
        name="lat"
    >
    </b-form-input>

    <b-form-input
        v-if="value.lng > 0 && value.lng !== ''"
        v-model="value.lng"
        type="text"
        :id="`${id}-lng`"
        class="address-lng-input d-none"
        name="lng"
    >
    </b-form-input>

    <a-modal
        :title="`${words['Address']}`"
        :visible="visible"
        @ok="handleOk"
        @cancel="handleCancel"
        dialogClass="address-input-modal"
        :okButtonProps="{class: 'btn btn-gradient-primary me-2'}"
        :cancelButtonProps="{class: 'btn btn-light'}"
    >
      <google-places-autocomplete
          :value="address"
          @resultChanged="placeDetail => place = placeDetail"
          @resultCleared="() => place = null"
          language="ar"
      >
        <div slot="input" slot-scope="{ context, events, actions }">
          <b-form-input
              v-model="context.input"
              @focus="events.inputHasReceivedFocus"
              @input="events.inputHasChanged"
              @keydown.enter.prevent="actions.selectItemFromList"
              @keydown.down.prevent="actions.shiftResultsSelection"
              @keydown.up.prevent="actions.unshiftResultsSelection"
              type="search"
          ></b-form-input>
        </div>
            <span class="address-input-item" slot="item" slot-scope="{ place }">
                {{ place.description }}
            </span>
            <span class="address-input-item address-input-item-active" slot="activeItem" slot-scope="{ place }">
                {{ place.description }}
            </span>
      </google-places-autocomplete>

      <div id="map"></div>

      <template slot="footer">
        <button class="btn btn-light" @click="handleCancel">{{words['Cancel']}}</button>
        <button key="back" @click="handleOk" class="btn btn-gradient-primary me-2">{{words['Ok']}}</button>
      </template>

    </a-modal>
  </div>
</template>

<script>

export default {
  props: {
    id: {
      type: String,
      default: function () {
        return ''
      }
    },
    required: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    placeholder: {
      type: String,
      default: function () {
        return ''
      }
    },
    address: {
      type: String,
      default: function () {
        return ''
      }
    },
    lat: {
      type: [Number, String],
      default: function () {
        return 0
      }
    },
    lng: {
      type: [Number, String],
      default: function () {
        return 0
      }
    },
    onChange: {
      type: Function,
      default: function () {
        return () => {}
      }
    },
    inputName:{
      type: String,
      default: function () {
        return 'address'
      }
    },
    isError: {
      type: String,
      default: function () {
        return 'false'
      }
    },
    initAddressValue: {
      type: String,
      default: function () {
        return null
      }
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      place: null,
      visible: false,
      map: null,
      value: {
        address: null,
        lat: 0,
        lng: 0
      },
      inputState: null,
      selectedAddress: ''
    }
  },
  methods: {
    onSubmit() {
      const lat = this.place.geometry.location.lat();
      const lng = this.place.geometry.location.lng();
      this.value = {
        address: this.selectedAddress,
        lat,
        lng
      }
      this.onChange({
        address: this.selectedAddress,
        lat,
        lng
      })
    },
    handleOk() {
      this.visible = false
      this.onSubmit();
    },
    handleCancel(e) {
      this.visible = false;
    },
    initMap({lat, lng, address}) {
      const latLng = { lat: lat || 0, lng: lng || 0 };
      this.map = new window.google.maps.Map(document.getElementById("map"), {
        center: latLng,
        zoom: 14,
        disableDefaultUI: true,
        language: 'ar',
        region: 'EG'
      });

      new google.maps.Marker({
        position: latLng,
        map: this.map,
        title: address,
      });
    }
  },
  watch: {
    visible(val) {
      if(val){
        this.$nextTick(() => {
          const lat = Number(this.lat);
          const lng = Number(this.lng);
          this.initMap({
            address: this.address,
            lat,
            lng
          })
        })
      }
    },
    place(val) {
      this.$nextTick(() => {
        const lat = val.geometry.location.lat();
        const lng = val.geometry.location.lng();
        this.initMap({
          address: this.place.formatted_address,
          lat,
          lng
        });
        this.selectedAddress = $('.address-input-modal .form-control[type="search"]')[0].value
      })
    },
    address(val) {
      this.value = {
        ...this.value,
        address: val
      }
    },
    lat(val) {
      this.value = {
        ...this.value,
        lat: val
      }
    },
    lng(val) {
      this.value = {
        ...this.value,
        lng: val
      }
    },
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted address-input`, `background: #19823c; color: #ffffff`);

      if(Boolean(this.isError)){
        this.inputState = false
      }

      console.log("this", this)
      console.log("initAddressValue", this?.initAddressValue)
      console.log("this?.lat", this?.lat)
      console.log("this?.lng", this?.lng)

      if(this.initAddressValue){
        this.value.address = this.initAddressValue;
        this.value.lat = this.lat;
        this.value.lng = this.lng;
        this.onChange({
          address: this.initAddressValue,
          lng: this.lng,
          lat: this.lat,
        })
      }
    })
  },
}
</script>

<style lang="scss">
.address-input-modal{
  .ant-modal-content{
    .ant-modal-body{
      ul.vbga-results {
        list-style: none;
        padding: 0;
        margin: 0;
        .address-input-item {
          width: 100%;
          display: inline-block;
          padding: 7px;
          background-color: #f6f6f6;
          border-bottom: 1px solid #ebebeb;
          cursor: pointer;
          &:hover{
            background-color: #f0d4ff;
          }
        }
        .address-input-item-active{

        }
      }
      input{
        margin-bottom: 15px;
      }
    }
  }
  #map {
    height: 300px;
    width: 100%;
  }
}
.address-input[readonly]{
  background-color: #ffffff !important;
}


</style>
