<template>
  <div class="p-2">

    <a-modal
        :title="`${words['This event cannot be published']}`"
        :visible="visibleErrorModal"
        @cancel="handleCancelErrorModal"
        @ok="handleCancelErrorModal"
        dialogClass="auth-modal"
        :okButtonProps="{class: 'btn btn-gradient-primary me-2'}"
        :cancelButtonProps="{class: 'd-none'}"
    >
      {{errorModalMsg}}
    </a-modal>

    <div class="d-flex options-panel-box">
      <div class="col-2 options-panel">
        <div class="accordion" role="tablist">
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.basic-information class="w-100 accordion-btn btn btn-block btn-lg btn-gradient-primary">
                <div>
                  <b-icon icon="info-circle-fill"></b-icon>
                  {{words['Basic Information']}}
                </div>

                <a :href="`/${langAndLocal}/panel/events/${eventData.id}/edit`" target="_blank" class="mx-1 all-basic-information-btn">
                  {{words['More']}}
                </a>

              </b-button>
            </b-card-header>
            <b-collapse id="basic-information" visible accordion="options-panel-accordion" role="tabpanel">
              <b-card-body body-class="options-panel-accordion-body">
                <basic-information-form v-bind:theme="theem" v-bind:save-fn="save" v-bind:event-data="eventData" v-bind:form-data="formData" ref="basic-information-form" />
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.theem class="w-100 accordion-btn btn btn-block btn-lg btn-gradient-primary">
                <b-icon icon="brush-fill"></b-icon>
                {{words['Theme']}}
              </b-button>
            </b-card-header>
            <b-collapse id="theem" accordion="options-panel-accordion" role="tabpanel">
              <b-card-body body-class="options-panel-accordion-body padding-1">
                <theem-select v-bind:event-data="eventData" :onChange="onChangeTheem" />
              </b-card-body>
            </b-collapse>
          </b-card>
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle.sections class="w-100 accordion-btn btn btn-block btn-lg btn-gradient-primary">
                <b-icon icon="bookmark-check-fill"></b-icon>
                {{words['Sections']}}
              </b-button>
            </b-card-header>
            <b-collapse id="sections" accordion="options-panel-accordion" role="tabpanel">
              <b-card-body body-class="options-panel-accordion-body">
                <sections-select v-bind:event-data="eventData" :theem="theem" :onChange="onChangeSection" />
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
<!--        <div class="options-panel-btns">-->
<!--          <b-button-group class="w-100 mb-3">-->
<!--            <b-button class="options-panel-btns-save" @click="save">-->
<!--              <b-icon v-if="!loading" icon="check-lg" class="mb-1" ></b-icon>-->
<!--              <b-icon v-if="loading" icon="three-dots" animation="cylon" class="mb-1"></b-icon>-->
<!--              {{words['Save']}}-->
<!--            </b-button>-->
<!--            <b-button @click="publish" class="options-panel-btns-publish">-->
<!--              <b-icon v-if="!loadingPublish" icon="arrow-up-right-circle-fill" class="mb-1"></b-icon>-->
<!--              <b-icon v-if="loadingPublish" icon="three-dots" animation="cylon" class="mb-1"></b-icon>-->
<!--              {{words['Publish']}}-->
<!--            </b-button>-->
<!--          </b-button-group>-->
<!--        </div>-->
      </div>
      <div class="w-100 p-0">
        <div class="control-view">

          <a :href="`/${local}-${language.code}/panel/events/${eventData.id}/preview`" target="_blank" class="mx-1">
            <b-icon icon="eye-fill" class="mb-1"></b-icon> {{words['Preview']}}
          </a>

          <a :href="`/${langAndLocal}/panel/events/${eventData.id}/details`" target="_blank" class="mx-1">
            <b-icon icon="clipboard-data" class="mb-1"></b-icon> {{words['Details']}}
          </a>

          <b-button class="options-panel-btns-save mx-1" @click="save">
            <b-icon v-if="!loading" icon="check-lg" class="mb-1" ></b-icon>
            <b-icon v-if="loading" icon="three-dots" animation="cylon" class="mb-1"></b-icon>
            {{words['Save']}}
          </b-button>
          <b-button @click="publish" class="options-panel-btns-publish mx-1">
            <b-icon v-if="!loadingPublish" icon="arrow-up-right-circle-fill" class="mb-1"></b-icon>
            <b-icon v-if="loadingPublish" icon="three-dots" animation="cylon" class="mb-1"></b-icon>
            {{words['Publish']}}
          </b-button>

        </div>
        <iframe class="event-editable-view-iframe"
                id="event-editable-view-iframe"
                ref="iframe"
                :srcdoc='theem.file(editable,
                  {
                    data: eventDataObj,
                    requiredSection: theem.requiredSection,
                    color: eventDataObj.color,
                    content,
                    language,
                    words,
                    link,
                    logo,
                    footerText,
                    footerHeading
                  }
                )'>
        </iframe>
      </div>
    </div>
  </div>
</template>

<script>
import theems from '../THEEMS';

window.bc_sectionsChange = new BroadcastChannel('sections:change');
window.bc_contentChange = new BroadcastChannel('content:change');

export default {
  props: {
    eventData: {
      type: Object,
      default: function () {
        return {}
      }
    },
    formData: {
      type: Object,
      default: function () {
        return null
      }
    },
    editable: {
      type: Boolean,
      default: function () {
        return true
      }
    },
    logo: {
      type: String,
      default: function () {
        return true
      }
    },
    link: {
      type: String,
      default: function () {
        return true
      }
    },
    footerText: {
      type: String,
      default: function () {
        return true
      }
    },
    footerHeading: {
      type: String,
      default: function () {
        return true
      }
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      show: false,
      loading: false,
      loadingPublish: false,
      theem: theems[0],
      sections: [],
      content: {
        basic: {},
        description: {},
        counter: {},
        countdown: {},
        speakers: {},
        video: {},
        gallery: {},
        sponsors: {},
        comments: {},
        banner: {},
        footer: {},
      },
      title: 'THE TEXT',
      eventDataObj: {},
      visibleErrorModal: false,
      errorModalMsg: null,
      langAndLocal: '',
      lang: '',
      local: '',
    }
  },
  computed: {
    language() {
      const {direction, code} = this.formData.languages.find(({id}) => id === this.eventData.language_id)
      return {direction, code}
    }
  },
  watch: {
    sections(val) {
      this.onChangeSection(val)
    },
    content(val) {
    },
  },
  methods: {
    handleCancelErrorModal() {
      this.visibleErrorModal = false;
    },
    onChangeTheem(val) {
      this.theem = val;
      this.$root.theme = val;
    },
    onChangeSection(val) {
      window.bc_sectionsChange.postMessage({sections: val})
    },
    save(ev, cb = undefined) {
      this.$root.basicInformationForm = this.$refs['basic-information-form'].form;
      this.loading = true;
      this.$root.save((res) => {

        this.eventDataObj = res;
        if(this.eventData.extra_sections){
          const extraSections = res.extra_sections ? JSON.parse(res.extra_sections) : {}
          this.content = {...this.content, ...extraSections?.content} || this.content;
        }

        if(!cb){
          setTimeout(() => {
            window.location.reload()
          }, 500)
        }else {
          setTimeout(() => {
              this.loading = false;
              cb()
          }, 500)
        }

      })
    },
    publish(ev) {
      this.loadingPublish = true;
      const local = document.getElementsByTagName('html')[0].getAttribute('data-localization');
      this.save(ev, () => {
        axios.get(`/${local}/panel/event/publish?event_id=${this.eventDataObj.id}`, {event_id: this.eventDataObj.id})
            .then((res) => {
              this.loadingPublish = false;
              if(res.data.Error.code === 401){
                this.visibleErrorModal = true;
                this.errorModalMsg = res.data.Error.desc;
              }else {
                window.open(`/${this.local}-${this.language.code}/panel/events/${this.eventDataObj.id}/preview`, '_blank').focus();
              }
            })
            .catch(() => {
              this.loadingPublish = false;
            })
      })
    },
    refreshIframe() {
      this.$nextTick(() => {
        document.getElementById('event-editable-view-iframe').contentWindow.location.reload();
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted event-editable-view`, `background: #19823c; color: #ffffff`);
      let body = $('body');
      let contentWrapper = $('.content-wrapper');
      let navbarToggler = $('.navbar-toggler');

      body.toggleClass('sidebar-hidden');
      body.toggleClass('sidebar-icon-only');

      if(window.innerWidth > 991.98){
        body.css({
          height: '100vh',
          overflow: 'hidden',
        });
      }

      contentWrapper.css({padding: 0})
      navbarToggler.hide();
    })

      this.$nextTick(() => {

        this.eventDataObj = this.eventData;
        this.$root.eventData = this.eventData;

        if(this.eventData.theme){
          this.theem = theems.find((t) => t.id === this.eventData.theme);
        }

        if(this.eventData.extra_sections){
          const extraSections = this.eventData.extra_sections ? JSON.parse(this.eventData.extra_sections) : {}
          this.content = {...this.content, ...extraSections?.content} || this.content;

          this.sections = extraSections?.sections || {};


          const iframe = document.getElementById('event-editable-view-iframe');
          iframe.onload = () => {
            this.onChangeSection(extraSections?.sections)
          };


        }

        this.$nextTick(() => {
          try {
            this.langAndLocal = window.location.pathname.split('/')[1]
            this.lang = window.location.pathname.split('/')[1].split('-')[1]
            this.local = window.location.pathname.split('/')[1].split('-')[0]

          }catch (e) {

          }
        })
      })
  },
}
</script>

<style lang="scss" scoped>
  .event-editable-view-iframe{
    width: 100%;
    height: calc(100vh - 130px);
  }

  .options-panel{
    margin: 0 10px 0 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    .accordion{
      max-height: calc(100vh - 80px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
    .card .options-panel-accordion-body {
      padding: 1.5rem 1.5rem;
      max-height: 60vh;
      overflow-y: scroll;
      overflow-x: hidden;
      &.padding-1{
        padding: 1rem 0.5rem;
      }
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: #d4b6ff;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #9a55ff;
      }
    }

    .accordion-btn{
      text-align: left;
      display: flex;
      align-items: center;
      position: relative;
      div {
        flex: 1;
        display: flex;
        align-items: center;
      }
      a {
        position: absolute;
        right: 5px;
        color: #fff;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: #9036ff;
        padding: 5px;
        border-radius: 3px;
        text-decoration: auto;
        svg{
          margin: 0 !important;
        }
      }
      &.btn-secondary:not(.btn-light):focus, &.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.25rem rgb(172 100 255);
        border-color: #AC64FFFF;
        background: linear-gradient(to right, #da8cff, #9a55ff);
      }
      svg{
        margin-right: 8px;
      }
    }
    .options-panel-btns{
      button {
        margin: 0 5px;
        max-width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    }


  }

  .options-panel-btns-save{
    background: linear-gradient(to right, #14d236, #0bb92b)  !important;
    border-color: #14d236  !important;
    &:not(.btn-light):focus {
      box-shadow: 0 0 0 0.25rem rgb(20, 210, 54)  !important;
      border-color: #14d236  !important;
      background: linear-gradient(to right, #14d236, #0bb92b)  !important;
    }
  }
  .options-panel-btns-publish{
    background: linear-gradient(to right, #8caaff, #5567ff)  !important;
    border-color: #8caaff  !important;
    &:not(.btn-light):focus {
      box-shadow: 0 0 0 0.25rem rgb(85, 103, 255)  !important;
      border-color: #8caaff  !important;
      background: linear-gradient(to right, #8caaff, #5567ff)  !important;
    }
  }

  .control-view{
    min-height: 50px;
    background-color: #6c6c6c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 30px;
    flex-wrap: wrap;



    a , button {

      color: #fff;
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0 7px;
      border: 1px solid #ddd;
      border-radius: 3px;
      font-size: 16px;
      text-decoration: none;

      @media (max-width: 470px) {
        margin-bottom: 6px;
      }

      svg {
        margin: 0 5px !important;
      }
    }
    button {
      background: transparent;
      padding: 7px 10px;
      svg {
        margin: 0 5px !important;
        font-size: 14px !important;
      }
    }
  }

</style>

<style lang="scss">
[dir]{
  .ant-modal-footer{
    .btn-light{
      height: 35px;
      font-size: 0.875rem;
      line-height: 1;
      font-family: "ubuntu-bold", sans-serif;
      padding: 0 25px;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
      color: #000;
      font-weight: 500;
    }
    .btn-gradient-primary {
      background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
      background: linear-gradient(to right, #da8cff, #9a55ff);
      border: 0;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      height: 35px;
      font-size: 0.875rem;
      line-height: 1;
      font-family: "ubuntu-bold", sans-serif;
      padding: 0 25px;
    }

    .btn-gradient-primary:not([disabled]):not(.disabled):active, .btn-gradient-primary:not([disabled]):not(.disabled).active,
    .show > .btn-gradient-primary.dropdown-toggle {
      background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
      background: linear-gradient(to right, #da8cff, #9a55ff);
    }

    .btn-gradient-primary:hover {
      opacity: .8;
    }

    .btn-gradient-primary:not(.btn-gradient-light) {
      color: #ffffff;
    }

    .btn-gradient-primary:not(.btn-gradient-light):hover, .btn-gradient-primary:not(.btn-gradient-light):focus, .btn-gradient-primary:not(.btn-gradient-light):active {
      color: #ffffff;
    }
  }
}
.all-basic-information-btn{

}

.options-panel-box{
  @media (max-width: 991.98px) {
    flex-direction: column-reverse;
    .options-panel, .options-panel + div{
      width: 100%;
    }
  }
}
</style>