<template>
  <Fragment>
    <div v-if="isAuth" class="user-avatar" >
      <i>{{defaultWords[lang]['Eventiqr Account']}}</i>
      <span>{{authDataNameFirstLetter}}</span> {{authDataName}}
      <div class="logout-box">
        <a href="/panel" target="_blank">{{defaultWords[lang]['panel']}}</a>
        <button @click="logout">{{defaultWords[lang]['logout']}}</button>
      </div>
    </div>

    <slot :download-ticket="downloadTicket" :invitation="isAccepted !== 'no_action' && isAccepted !== 'refused' ? invitation : false" :attend-val="attendVal" :btn-class="'attended-dropdown'" :change-attend="changeAttend"> </slot>

    <p class="attended-alert alert alert-info" v-if="isAccepted === 'no_action' && isAccepted !== 'refused' && isAuth && attendVal !== 'attended' && attendVal !== 'not_going'">
      <span>{{defaultWords[lang]['The invitation is waiting for the owners approval']}}.</span> {{defaultWords[lang]['Please go to your account to follow the status of the invitation and download it upon approval of the owner of the event']}}
    </p>

    <p class="attended-alert alert alert-danger" v-if="isAccepted === 'refused' && isAuth && attendVal !== 'attended' && attendVal !== 'not_going'">
      <span>{{defaultWords[lang]['Attendance request denied']}}.</span>
    </p>

    <p class="attended-alert alert alert-danger" v-if="error">
     <span>{{error}}.</span>
    </p>

    <auth-form :countries="countries" :visible="visibleAuth" :callback="callbackAuth" :handleCancelCb="handleCancelCb"/>
  </Fragment>
</template>

<script>
import { Fragment } from 'vue-fragment';
import html2canvas from "html2canvas";
window.downloadTicket = new BroadcastChannel('downloadTicket');
const TICKET_1 = require('../TICKETS/TICKET_1').default

export default {
  components: { Fragment },
  props: {
    eventdate: {
      type: String,
      default: function () {
        return '{}'
      }
    },
  },
  data: function () {
    return {
      countries: {},
      token: '',
      local: null,
      isAccepted: 'no_action',
      eventIsPublic: false,
      invitation: null,
      isAuth: false,
      authData: {},
      attendVal: 'attended',
      attendText: '',
      visibleAuth: false,
      saveStatus: null,
      error: null,
      lang: null,
      defaultWords: {
        en: {
          going: 'Going',
          maybe: 'Maybe',
          not_going: 'Not Going',
          attended: 'Attended',
          loading: 'loading...',
          'Eventiqr Account': 'Eventiqr Account',
          panel: 'panel',
          logout: 'logout',
          'Attendance request denied': 'Attendance request denied',
          'The invitation is waiting for the owners approval': 'The invitation is waiting for the owner\'s approval',
          'Please go to your account to follow the status of the invitation and download it upon approval of the owner of the event': 'Please go to your account to follow the status of the invitation and download it upon approval of the owner of the event'
        },
        ar: {
          going: 'ذاهب',
          maybe: 'يمكن',
          not_going: 'لست ذاهبا',
          attended: 'تسجيل الحضور',
          loading: 'تحميل...',
          'Eventiqr Account': 'حساب ايفنتي',
          panel: 'لوحة التحكم',
          'Attendance request denied': 'تم رفض طلب الحضور',
          logout: 'تسجيل الخروج',
          'The invitation is waiting for the owners approval': 'الدعوه فى انتظار موافقة صاحب الفاعليه',
          'Please go to your account to follow the status of the invitation and download it upon approval of the owner of the event': 'برجاء الذهاب الي حسابك الخاص لمتابعه حاله الدعوه و تحميلها عند موافقة صاحب الفاعليه',
        }
      },
    }
  },
  computed: {
    authDataName() {
      return this.authData?.name || ''
    },
    authDataNameFirstLetter() {
      if(this.authData?.name){
        return this.authData?.name.split('')[0].toUpperCase()
      }
      return ''
    }
  },
  methods: {
    logout() {

      let url = `${this.local}/logout`;

      if(window?.parent?.location.search.search('test=true') === 1){
        url = '/api/logout';
      }

      axios.post(url, {_token: this.token})
          .then((r) => {
            sessionStorage.removeItem('user')
            sessionStorage.removeItem('token')
            window.location.reload()
          })
          .catch((e) => {})
    },
    checkAttend() {
      const token = sessionStorage.getItem('token');
      const eventId = document.getElementsByTagName('html')[0].getAttribute('data-event-id')
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang')
      const target = document.getElementsByClassName('attended-dropdown');

      if(!token){
        return;
      }

      const data = {
        event_id: eventId,
      }

      const config = {
        headers: {
          Authorization: `Bearer ${token}`
        }
      }

      axios.post('/api/event/check-attend', data, config).then((res) => {
        this.attendVal = res.data.Response.status === 'accepted' ? 'going' : res.data.Response.status

        let status = res.data.Response.status === 'accepted' ? 'going' : res.data.Response.status

        if(res.data.Response.status === 'accepted' || this.eventIsPublic){
          this.isAccepted = 'accepted'
        }else{
          this.isAccepted = res.data.Response.event_owner_action;
        }

        this.attendText = this.defaultWords[lang][status];
        target[0].childNodes[0].textContent = this.attendText;

        if(res.data.Response.invitation){
          this.invitation = {data: res.data.Response.invitation};
        }else {
          this.invitation = null;
        }

      }).catch((e) => {

      })
    },
    changeAttend(val) {
      this.error = null;
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang')
      const token = sessionStorage.getItem('token');
      const eventId = document.getElementsByTagName('html')[0].getAttribute('data-event-id')
      const target = document.getElementsByClassName('attended-dropdown');
      const oldAttendText = target[0].childNodes[0].textContent;

      if(!token){
        this.visibleAuth = true;
        this.saveStatus = val;
        return;
      }

      this.saveStatus = null;

      target[0].childNodes[0].textContent = this.defaultWords[lang]['loading'];

      let data = {
        event_id: eventId,
        status: val
      }

      if(document.getElementsByTagName('html')[0].getAttribute('data-invitation-code')){
        data.code = document.getElementsByTagName('html')[0].getAttribute('data-invitation-code')
      }

      const config = {
        headers: {
          Authorization: `Bearer ${token}`
        }
      }

      axios.post('/api/event/attend', data, config).then((res) => {
        if(res.data.Error.status){

          if(res.data.Error.code === 403){
            target[0].childNodes[0].textContent = oldAttendText;
            this.error = res.data.Error.desc
          }else {
            this.status = res.data.Response.status === 'accepted' ? 'going' : res.data.Response.status
            this.attendVal = res.data.Response.status === 'accepted' ? 'going' : res.data.Response.status;
            this.attendText = this.defaultWords[lang][status];
            target[0].childNodes[0].textContent = this.attendText;

            this.checkAttend()
          }

        }else {
          target[0].childNodes[0].textContent = oldAttendText;
        }
      }).catch((err) => {
        if(err.response.status === 401){
          this.visibleAuth = true;
        }
        target.childNodes[0].textContent = oldAttendText;
      })
    },
    callbackAuth(res) {
      this.visibleAuth = false;
      this.changeAttend(this.saveStatus);
      this.isAuth = true;
      this.authData = res;
    },
    handleCancelCb() {
      this.visibleAuth = false;
    },
    downloadTicket() {

      console.log("this.invitation -> attended-btn -> downloadTicket", this.invitation)

      if(this.invitation?.data){

        if(this.invitation?.data?.id){

          console.log("this.invitation -> attended-btn", this.invitation?.data)

          const a = document.createElement('a')
          a.setAttribute('download', `${this.invitation?.data?.event?.name} - ticket.pdf`)
          a.setAttribute('href', `/api/download-invitation/${this.invitation?.data?.id}`);
          document.body.appendChild(a);
          a.click();
          return;
        }

        const html = TICKET_1(this.invitation);
        const iframe = document.createElement("iframe");
        iframe.id = 'ticket-frame'

        document.body.appendChild(iframe);

        iframe.contentWindow.document.open();
        iframe.contentWindow.document.write(html);
        iframe.contentWindow.document.close();

        $('#ticket-frame').on('load', () => {
          setTimeout(() => {
            html2canvas(iframe.contentWindow.document.body).then(canvas => {
              const dataURL = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream')
              const a = document.createElement('a')
              a.setAttribute('download', `${this.invitation?.data?.event?.name} - ticket.png`)
              a.setAttribute('href', dataURL);
              a.click();
              canvas.remove();

              const element = document.getElementById("ticket-frame");
              element.parentNode.removeChild(element);
            });
          }, 1000)
        });
        return
      }

      window.downloadTicket.postMessage({})
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted attended-btn --> 09/10/2222`, `background: #19823c; color: #ffffff`);
      const style = document.createElement('style');
      const themeColor = document.getElementsByTagName('html')[0].getAttribute('data-theme-color')
      const target = document.getElementsByClassName('attended-dropdown');
      const lang = document.getElementsByTagName('html')[0].getAttribute('lang')
      const auth = sessionStorage.getItem('user')

      this.countries = JSON.parse(this.eventdate).countries;

      this.lang = lang;

      if(target.length > 0){

        const targetStyle = window.getComputedStyle(target[0]);

        style.append(`

          .attended-dropdown .attended-dropdown-content {
            top: ${target[0].offsetHeight - targetStyle['border'].split('px')[0]}px !important;
          }

          .attended-dropdown .attended-dropdown-content {
            color: ${themeColor} !important;
          }

          .download-ticket-btn{
            color: ${targetStyle['background-color']} !important;
          }

          .download-ticket-btn i.fa{
            color: ${targetStyle['background-color']} !important;
          }

        `)

        document.body.append(style);

        this.checkAttend()
      }

      this.attendText = this.defaultWords[lang]['attended'];

      if(auth){
        this.isAuth = true;
        this.authData = JSON.parse(auth);
      }

      try {
        this.eventIsPublic = !JSON.parse(this.eventdate)?.should_accept
      }catch (e) {

      }

      try {
        this.local = `/${window?.parent?.location.pathname.split('/')[1]}`;
      }catch (e) {
      }

      this.token = document.getElementsByTagName('html')[0].getAttribute('data-token');

    })
  },
}
</script>

<style lang="scss">
.attended-dropdown{
  position: relative;
  justify-content: center;
  max-width: 180px;
  display: flex !important;
}

.attended-dropdown .attended-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style: none;
}

.attended-dropdown:hover .attended-dropdown-content {
  display: block;
}

.download-ticket-btn{
  background-color: #fff !important;
  margin: 5px;
  user-select: none !important;
  cursor: pointer !important;
  line-height: 35px !important;
  padding: 0 16px !important;
  justify-content: center !important;
  align-items: center !important;
  display: inline-flex !important;
  i {
    margin: 5px !important;
  }
}

[dir=ltr] {
  .user-avatar, .user-avatar .logout-box,  .user-avatar i{
    //box-shadow: 4px 4px 6px #828282;
  }
}

[dir=rtl] {
  .user-avatar, .user-avatar .logout-box,  .user-avatar i{
    //box-shadow: -4px 4px 6px #828282;
  }
}
.user-avatar{
  position: fixed;
  top: 50px;
  left: 16px;
  display: flex;
  background: linear-gradient(to right, #da8cff, #9a55ff);
  padding: 11px;
  color: #fff;
  z-index: 9999999999;
  border-radius: 0 4px 4px 4px;
  min-width: 140px;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  line-height: 27px;
  user-select: none;
  span {
    width: 25px;
    margin-right: 5px;
    text-align: center;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    color: #a962ff;
    font-weight: 800;
  }
  i {
    white-space: pre;
    position: absolute;
    top: -27px;
    background-color: #fff;
    left: 0;
    color: #4d4d4d;
    font-size: 14px;
    padding: 0 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .logout-box{
    display: none;
    position: absolute;
    bottom: -78px;
    right: 0;
    left: 0px;
    width: 100%;
    background-color: #fff;
    padding: 3px 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    button, a {
      background-color: #fff;
      border: none;
      color: #2d2d2d !important;
      text-align: left !important;
      width: 100%;
      cursor: pointer;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    };

    a {
      width: 100%;
      display: block;
      padding: 0 8px;
      border-bottom: 1px solid #ddd;
    }
  }
  &:hover {
    color: #fff;
    .logout-box{
      display: block;
    }
  }


}

.attended-alert{
  display: inline-block;
  color: #003d48 !important;
  font-size: 14px;
  text-align: left;
  font-weight: 500 !important;
  text-transform: initial;
  padding: 10px;
  margin: 8px 8px 0px 8px;

  position: relative;
  bottom: 6px;
  left: 0;
  right: 0;
  span {
    color: #003d48 !important;
    font-size: 14px;
    font-weight: 900 !important;
    text-transform: initial;
    margin: 0 3px;
  }
}
</style>
