<template>
    <div :class="className" class="d-flex justify-content-center">
      <div class="control-btns" v-if="editable">
        <a-button class="control-btn" @click="addItem">
          <a-icon type="plus" />
        </a-button>
        <span>{{ Object.values(items).length }}</span>
        <a-button class="control-btn" @click="deleteItem">
          <a-icon type="minus" />
        </a-button>

        <div class="content-form" id="content-form">
          <div v-for="(item, key) in items" :key="key">
            <div v-for="(input, index) in inputs" :key="index">
              <b-form-group
                  :label="input.label"
              >
                <b-form-input
                    v-if="input.type === 'text'"
                    @keyup="(e) => change({itemKey: key, inputName: input.name}, e.target.value)"
                    type="text"
                    required
                    :value="item[input.name]"
                ></b-form-input>


                <a-upload
                    v-if="input.type === 'img'"
                    name="file"
                    :multiple="false"
                    action="/api/upload-file"
                    @change="(info) => handleChange({itemKey: key, inputName: input.name}, info)"
                    :showUploadList="false"
                    accept="image/png, image/jpeg"
                >
                  <a-button>
                    <a-icon type="upload" />
                    {{words['Upload']}}
                  </a-button>
                </a-upload>

              </b-form-group>
            </div>
            <a-button @click="deleteItemByKey(key)" class="delete-item-btn">
              <a-icon type="delete" />
            </a-button>
          </div>
        </div>
      </div>
      <slot v-for="(item, key) in items" :index="key" :content="item"> </slot>
    </div>

</template>

<script>

export default {
  props: {
    defaultList: {
      type: [Object, Array],
      default: function () {
        return {}
      }
    },
    parentId: {
      type: String,
      default: function () {
        return ''
      }
    },
    className: {
      type: String,
      default: function () {
        return ''
      }
    },
    inputs: {
      type: Array,
      default: function () {
        return []
      }
    },
    editable: {
      type: Boolean,
      default: function () {
        return true
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['global', 'items']
      }
    }
  },
  data: function () {
    return {
      words: window?.words || {},
      items: []
    }
  },
  watch: {
    items(val){
      this.applyEdit(val)
    }
  },
  methods: {
    applyEdit (value) {
      window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value})
    },
    addItem() {
      if(Object.values(this.items).length < 6){
        this.items = {
          ...this.items,
          [Object.values(this.items).length]: this.inputs.reduce((p, c) => ({[c.name]: null, ...p}), {})
        }
      }
    },
    deleteItemByKey(key) {
      const _items = {...this.items};
      delete _items[key]
      this.items = _items
    },
    deleteItem() {
      if(Object.values(this.items).length > 1){
        const _items = {...this.items};
        delete _items[Object.values(this.items).length - 1]
        this.items = _items
      }
    },
    change({itemKey, inputName}, value) {
      this.items = {
        ...this.items,
        [itemKey]: {
          ...this.items[itemKey],
          [inputName]: value
        }
      }
    },
    handleChange({itemKey, inputName}, info) {
      const el = document.getElementById(this.elementId)
      if (info.file.status !== 'uploading') {
        this.change({itemKey, inputName}, URL.createObjectURL(info.file.originFileObj))
      }
      if (info.file.status === 'done') {
        this.change({itemKey, inputName}, info.file.response.Response.file)
        this.applyEdit(info.file.response.Response.file)
      } else if (info.file.status === 'error') {

      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted loop-item`, `background: #19823c; color: #ffffff`);
      this.items = {
        0: this.inputs.reduce((p, c) => ({[c.name]: null, ...p}), {})
      }
    })

    this.$nextTick(() => {
      const style = document.createElement('style');
      style.innerHTML = `
          #${this.parentId}:hover .control-btns, #${this.parentId}:hover .content-form{
            display: block;
          }
        `;
      document.head.appendChild(style);
    })

    this.$nextTick(() => {

      if(typeof this.defaultList === 'object' && !Array.isArray(this.defaultList)){
        this.items = Object.values(this.defaultList)
      }

      if(Array.isArray(this.defaultList)){
        this.items = this.defaultList
      }
    })
  },
}
</script>

<style lang="scss">
.control-btns{
  position: absolute;
  right: 40px;
  top: 49px;
  z-index: 999999;
  background-color: #57ad68;
  display: none;
  span{
    width: 26px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: #66bf78;
  }
  button {
    background-color: #57ad68;
    border-color: #57ad68;
    color: #fff;
    border-radius: 0;
    padding: 14px 10px;
    height: auto;
    &:hover {
      background-color: #346b3f;
      border-color: #346b3f;
      color: #fff;
    }
    &:active, &:focus, &.ant-btn.active {
      background: #57ad68;
      border-color: #57ad68;
      color: #fff;
    }
  }
}

.content-form{
  position: absolute;
  width: 400px;
  right: 0;
  background-color: #6fc780;
  display: none;
  opacity: 0.6;

  .form-group legend {
    font-size: 16px;
  }

  &:hover{
    opacity: 1;
  }
  > div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    > div{
      padding-right: 5px;
      &:last-child{
        padding-right: 0px;
      }
      > .form-group {
        margin-bottom: 0;
        label, legend{
          color: #ffffff
        }
      }
    }
  }

  .form-group{
    > div {
      > span {
        display: block;
        width: auto;
        > .ant-upload{
          width: auto;
          > .ant-upload{
            width: auto;
            .ant-btn{
              padding: 2px !important;
              width: 100px;
              height: 38px;
              background-color: #fff;
              border-radius: 3px;
              border: 0;
              span, i {
                background-color: #ffffff;
                color: #535353;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
.control-btns button.delete-item-btn{
  padding: 5px;
  margin-top: 31px;
  background-color: transparent;
  border: 0;
}
</style>
