<template>
  <div>
    <b-form>
      <b-form-group
          id="input-group-1"
          :label="`${words['Name']}:`"
          label-for="name"
      >
        <b-form-input
            id="name"
            v-model="form.name"
            type="text"
            :placeholder="`${words['Enter name']}`"
            required
        ></b-form-input>
      </b-form-group>


      <b-form-group
          id="input-group-2"
          :label="`${words['Theme Color']}:`"
          label-for="color"
      >
        <b-form-input
            id="color"
            v-model="form.color"
            type="color"
            :placeholder="`${words['Choose Theme Color']}`"
            required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" :label="`${words['Location Url']}:`" label-for="location_url">

        <b-form-input
            id="location_url"
            v-model="form.location_url"
            type="location_url"
            :placeholder="`${words['Enter Location Url']}`"
            required
        ></b-form-input>

<!--        <address-input-->
<!--            :id="'address'"-->
<!--            :address="form.address"-->
<!--            :lat="form.lat"-->
<!--            :lng="form.lng"-->
<!--            :onChange="changeAddress"-->
<!--            :placeholder="`${words['Enter address']}`"-->
<!--            :required="true"-->
<!--        />-->
      </b-form-group>

      <b-form-group id="input-group-4" :label="`${words['Category']}:`" label-for="category">
        <b-form-select
            id="category"
            class="form-control"
            v-model="form.category_id"
            :options="categories"
            required
        ></b-form-select>
      </b-form-group>

<!--      <b-form-group id="input-group-4" :label="`${words['Language']}:`" label-for="language">-->
<!--        <b-form-select-->
<!--            id="language"-->
<!--            class="form-control"-->
<!--            v-model="form.language_id"-->
<!--            :options="languages"-->
<!--            required-->
<!--        ></b-form-select>-->
<!--      </b-form-group>-->
    </b-form>
  </div>
</template>

<script>

export default {
  props: {
    eventData: {
      type: Object,
      default: function () {
        return null
      }
    },
    saveFn: {
      type: Function,
      default: function () {
        return () => {}
      }
    },
    theme: {
      type: Object,
      default: function () {
        return {}
      }
    },
    formData: {
      type: Object,
      default: function () {
        return null
      }
    },
  },
  computed: {
    categories() {
      return Object.keys(this.formData.categories).map((key) => ({text: this.formData.categories[key], value: key}))
    },
    countries() {
      return Object.keys(this.formData.countries).map((key) => ({text: this.formData.countries[key], value: key}))
    },
    languages() {
      return this.formData.languages.map(({name, id}) => ({text: name, value: id}))
    }
  },
  watch: {
    'form.country_id'(val) {
      const langId = document.getElementsByTagName('html')[0].dataset.langId
      axios.get(`/api/cities_by_country/${val}/${langId}`)
          .then((res) => {
            this.cityList = Object.keys(res.data).map((key) => ({text: res.data[key], value: key}))
          })
          .catch(() => { })
    },
  },
  data: function () {
    return {
      words: window?.words || {},
      form: {
        location_url: '',
        name: '',
        category_id: null,
        lat: 0,
        lng: 0,
        language_id: null
      },
      cityList: [],
    }
  },
  methods: {
    changeAddress(val) {
      this.form = {
        ...this.form,
        ...val
      }
      this.$nextTick(() => {
        this.saveFn();
      })
    },
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted basic-information-form`, `background: #19823c; color: #ffffff`);
      this.form = {
        address: this.eventData.address,
        location_url: this.eventData.location_url,
        name: this.eventData.name,
        category_id: this.eventData.category_id,
        country_id: this.eventData.country_id,
        city_id: this.eventData.city_id,
        lat: this.eventData.lat,
        lng: this.eventData.lng,
        color: this.eventData.color || this.theme.color,
        language_id: this.eventData.language_id
      }
    })
  },
}
</script>

<style lang="scss" scoped>
input[type=color].form-control{
  height: 47px
}
</style>
