/* Authentication page style */
/*-------------------------*/
.bg-authentication {
  background-color : #F2F4F4;
}

.bg-authentication #icon-arrow {
  position : absolute;
  top : 11px;
  left : 15px;
}

.bg-authentication .brand-text {
  color : #5A8DEE;
  font-weight : 600;
  letter-spacing : 0.01rem;
}

@media only screen and (min-width: 992px) {
  .bg-authentication .disable-rounded-right {
    border-top-left-radius : 0;
    border-bottom-left-radius : 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE Specific CSS */
  .bg-authentication {
    width : 100%;
    display : block;
  }
}
