<template>
  <span class="clear-span">
    {{formatDate()}}
  </span>
</template>

<script>

import dayjs from 'dayjs';
require('dayjs/locale/ar');


export default {
  props: {
    date: {
      type: String,
      default: function () {
        return ''
      }
    },
    format:{
      type: String,
      default: function () {
        return ''
      }
    },
    time: {
      type: String,
      default: function () {
        return ''
      }
    },
    className: {
      type: String,
      default: function () {
        return ''
      }
    },
    position: {
      type: Array,
      default: function () {
        return ['global', 'text']
      }
    }
  },
  data: function () {
    return {
      lang: 'en'
    }
  },
  methods: {
    formatDate() {

      dayjs.locale(this.lang)

      if(this.format === ''){
        return `${dayjs(this.date).format('DD MMMM YYYY')} - ${dayjs(this.time).format('HH:mm a')}`
      }
      return `${dayjs(this.date).format(this.format)}`
    },
    applyEdit (value) {
      window.bc_contentChange.postMessage({section: this.position[0], name: this.position[1], value})
    },
  },
  mounted() {
    this.$nextTick(() => {
      console.log(`%c Mounted date-time`, `background: #19823c; color: #ffffff`);
      this.$nextTick(() => {
        this.applyEdit(this.formatDate())
      })

      this.lang = document.getElementsByTagName('html')[0].getAttribute('lang');

    })
  },
}
</script>

<style lang="scss">

</style>
